<% provide(:title,"About")%>
<ul class="nav nav-tabs">
	<li class="nav-item">
      <a class="nav-link active" href="#">Hi there!</a>
  </li>
</ul>
<br>
<p>
  Thank you for droppin' by!
  <br>
  [write something about yourself.]
  <br>
  <br>
</p>